<h1>My form (normal HTML)</h1>
<form action="/form_result_url" method="post">
  <div>
    Enter message: <input type="text" name="form_message">
  </div>
  <input type="submit" value="Submit message!">
</form>

<h1>My form (rails version)</h1>
<%= form_tag "/form_result_url", method: :post do %>
  <div>
    Enter message: <input type="text" name="form_message">
  </div>
  <input type="submit" value="Submit message!">
<% end %>
