<h1>Make a guess</h1>
<%= form_tag "/guess_form_result_url", method: :post do %>
  <div>
    Enter guess: <input type="text" name="form_input_number">
  </div>
  <input type="submit" value="Guess!">
<% end %>
